*, *::before, *::after {
  box-sizing: border-box;
}
ul[class], ol[class] {
  padding: 0;
}
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #646464;
    font-size: 14px;
    line-height: 1.62;
}
a, button, .button-subscribe {
    transition: all .3s linear;
}
a {
    color: #2583DA;
    text-decoration: none;
}
a:hover {
    color: #0066FF;
    text-decoration: none;
}
h3 {
    font-size: 24px;
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.title-carousel-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;	
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1140px;
  }
}
.header-block {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.header-block img {
    height: 40px;
    margin-right: 10px;
}
.header-block h1 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
}
.main-social-links {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.link_rel_no {
    color: #2583DA;
    cursor: pointer;
}
.link_rel_no:hover {
    color: #0066FF;
}
.politics-application i {
    font-size: 18px;
    margin-left: 8px;
}
.chat-description {
    margin-top: 20px;
}
.element-yandex-block {
    width: 70%;
}
.videoinsruktion-block {
    box-shadow: 0 6px 18px rgba(14,21,47,.1), 0 -2px 6px rgba(14,21,47,.02);
    padding: 20px;
    margin-bottom: 40px;
}
.sub-title {
    text-align: center;
    margin-bottom: 20px;
}
.subscribe-page-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.subscribe-page-item {
    width: 32%;
    box-shadow: 0 6px 18px rgba(14,21,47,.1), 0 -2px 6px rgba(14,21,47,.02);
    padding: 15px;
}
#vk_groups, #vk_groups iframe, #vk_groups .wcommunity_wrap > div {
    width: 100% !important;
}
.wcommunity_wrap:before {
    box-shadow: none;
}
.list-page-links a {
    display: block;
}
.subscribe-news {
    text-align: center;
}
.mail-title-block {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}
.input-text-form {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.button-subscribe {
    background-color: #2583da;
    padding: 10px;
    color: #fff;
    border: 2px solid #2583da;
    border-radius: 4px;
    display: block;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}
.button-subscribe:hover {
    background-color: #fff;
    color: #2583da;
}
.list-page-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: -3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: -3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 58px;
    color: #2583da;
}
.owl-dots {
    width: 100%;
    text-align: center;
}
.owl-dot {
    width: 10px;
    height: 10px;
    background-color: #2583da;
    border-radius: 10em;
    display: inline-block;
    margin: 10px;
    transition: background-color .5s ease, transform .5s ease;
}
.owl-dot.active {
    background-color: #fff;
    border: 2px solid #2583da;
    transform: scale(1.5);
}
.owl-carousel {
    margin-bottom: 40px;
    width: 90%;
    margin: auto;
}
.footer-documents-links {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
    font-size: 13px;
}
.footer-copyright {
    text-align: center;
    font-size: 13px;
}
.main-social-links {
    flex-wrap: wrap;
}
.owl-carousel-item iframe, .videoinsruktion-block iframe {
    width: 100%;
    height: 400px;
    border: none;
}
@media(max-width: 767px) {
    .header-block {
        flex-wrap: wrap;
    }
    .element-yandex-block {
        width: 100%;
    }
    .main-social-links {
        flex-wrap: wrap;
    }
    .subscribe-page-block {
        flex-wrap: wrap;
    }
    .subscribe-page-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .title-carousel-flex {
        flex-wrap: wrap;
    }
    .hidden-wiget-mobile {
        display: none;
    }
}
@media(max-width: 374px) {
    .header-block img {
        height: 28px;
    }
}